.footer {
  grid-area: footer;
  color: $black;
  padding: 20px 0;
  .footer_menu {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}

.footer__navigation {
  width: 100%;
  font-size: $text-size;
  .subtitle {
    padding-bottom: 10px;
    color: $brand-color;
  }
  .footer__links {
    li {
      margin-bottom: 10px;
    }

    a {
      color: $black;
    }
  }
}

.social-links {
  display: inline-flex;
  gap: 13px;

  a {
    font-size: $subtitle-size;
  }
}
