//color
$bg-color: #f5f5f5;
$brand-color: #009385;
$white: white;
$black: black;
$red: #ff675d;
$light-blue: #9cd3cc;

//font weight

$thin: 300;
$regular: 400;
$medium: 600;

//font size
$text-size: 16px;
$subtitle-size: 20px;
$title-size: 30px;
